.btn {
    display: inline-block;

    outline: none;
    border: none;

    transition: background-color .2s, color .2s;
}

.btn_primary {
    padding: 10px 40px;

    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: var(--btn-primary-color);

    border-radius: 10px;

    background: var(--btn-primary-background);

}

.btn.btn_hover {
    color: var(--btn-search-hov-color);
}

.btn.btn_without-border {
    border: none;
}

/**
* btn_selector
*/

.btn_selector:hover {
    color: var(--btn-search-hov-color);
}

.btn_selector {
    margin-right: 10px;
    padding: 6px 15px;

    border: 2px solid var(--btn-search-border);
    border-radius: 6px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--btn-search-color);

    background-color: var(--btn-search-bg);
}

.btn_selector.btn_active {
    background-color: var(--btn-search-active-bg);
    
    color: var(--btn-search-active-color);
}

.btn_margin-bottom {
    margin-bottom: 4px;
}