.menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    z-index: 999;

    background-color: var(--modal-bg);

    transform: translate(100%);
    transition: transform 1s;

    padding-top: 40px;
}

.menu__list {
    padding: 20px;
    --item-bg: var(--white);
    --avatar-bg: var(--gray);
    --btn-search-bg: var(--gray);
}

.menu_show {
    transform: translate(0);
}