.id__wrapper {
    max-height: 14px;

    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;

    color: var(--id-color);
}

.id {
    position: relative;

    padding-right: 5px;

    color: var(--id-link-color);
    text-decoration-color: var(--id-link-color);
}

.id__img {
    position: absolute;
    right: 0;
    top: 0;

    transform: translate(100%);
}