.main {
    padding-bottom: 200px;
}

/**
* header
*/

.header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 28px;
}

.header__title {
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 1440px) {
    .main {
        width: 960px;
        
        padding-left: 140px;
        padding-right: 140px;
    }

    .favourite__button {
        display: none;
    }
}