.item {
    display: flex;

    position: relative;

    background-color: var(--item-bg);
    border-radius: 20px;

    padding: 47px 20px 20px 20px;

    margin-top: 20px;
}

.item__content {
    width: 100%;
}

.item__text {
    padding-top: 5px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    word-break: break-all;
}

.item__update {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--item-update-color);

    padding-top: 28px;
}

.item__categories {
    padding-top: 10px;
    display: flex;
}

.avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--avatar-bg);
    margin-right: 20px;
}

@media (min-width: 836px) {
    .item__categories {
        justify-content: flex-end;
    }
}