.item {
    display: flex;

    position: relative;

    background: var(--item-bg);
    border-radius: 20px;

    padding: 47px 20px 20px 20px;

    margin-top: 20px;
}

.item__text {
    padding-top: 5px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.item__update {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--item-update-color);

    padding-top: 28px;
}

.item__categories {
    padding-top: 10px;
    display: flex;
}

.item__hearth {
    position: absolute;
    right: 20px;
    top: 20px;
}

.avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--avatar-bg);
    margin-right: 20px;
}

.id__wrapper {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: var(--id-color);

    max-height: 14px;
}

.id {
    color: var(--id-link-color);
    text-decoration-color: var(--id-link-color);

    padding-right: 5px;
    position: relative;
}

.id__img {
    position: absolute;
    right: 0;
    top: 0;

    transform: translate(100%);
}