/**
* favourite
*/

.favourite {
    position: absolute;
    right: 0;

    z-index: 1000;

    display:  flex;
    align-items: center;
    justify-content: space-between;
}

.favourite__title {
    font-weight: 500;
    font-size: 20px;
    
    color: var(--fav-title-color);
}

/**
* favourite__button
*/
.favourite__button {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    outline: none;
    border: 0;

    background-color: transparent;
}

.favourite__icon {    
    position: relative;

    display: inline-block;

    width: 28px;
    height: 28px;

    margin-right: 10px;
    padding: 0;

    background-color: var(--fav-icon-bg);

    border-radius: 50%;
    border: none;
}

.favourite__icon::after, .favourite__icon::before {
    content: "";

    position: absolute;

    width: 14px;
    height: 2px;

    background-color: var(--fav-icon-line-bg);
    
    border-radius: 2px;

    transition: transform .5s;
}

.favourite__icon::after {
    top: 10px;

    transform: translate(-50%);
}

.favourite__icon::before {
    top: 16px;

    transform: translate(-50%);
}

.favourite__icon_active::after {
    transform: rotate(-42deg) translate(-50%, -2px);
}

.favourite__icon_active::before {
    transform: rotate(42deg) translate(-50%, 2px);
}


@media (min-width: 1440px) {
    .favourite__button {
        display: none;
    }
}